.center {
    text-align: center;
}
.link {
    border: none;
    padding: 1.5rem;
    border-radius: .75rem;
    text-decoration: none;
    background-color:blue;
    color:red;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color:yellow;
    margin: auto;
    padding: 1.2em;
    text-align: left;
    width: 30%;
    border-radius: 0.5em;
}
.code {
    font-family: monospace;
}
.container {
    margin-top: 1rem;
}

img {
    max-width: 25%;
}

.greeting {
    height: 10%;
}
